@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "reset";
@import "fonts";
@import "variables";
@import "header";
@import "logo";
@import "nav";
@import "card";

* {
  box-sizing: border-box;
}

.main {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4,200px);
  gap: 50px 48px;
}
